.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__menu {
 font-size: 18px;
}

.header__links-list {
  display: flex;
  position: relative;
  bottom: 5px;
  justify-content: space-between;
  width: 387px;
}

.header__links-list-item {
  position: relative;
  list-style: circle;
}

.header__links-list-item::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  display: block;
}

.address {
  width: 240px;
  height: 98px;
  position: relative;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  font-style: normal;
  font-size: 18px;
  bottom: 5px;
  gap: 4px;
  
}

.address a {
  padding-right: 5px;
  text-decoration: none;
  color: #000;
}

.header__address {
  border-bottom: 1px solid #000;
}

.cover {
  position: relative;
  background-image: url("/images/lotus-flower.jpg");
  min-height: 757px;
  background-position: center;
}

.cover_title {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  font-size: 100px;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgb(0 0 0/0.6);
  z-index: 2;
}

.aligned-text {
  position: relative;
  text-transform: uppercase;
  z-index: 3;
  color: #fff;
}

.letter-spacing-extended {
  letter-spacing: 30%;
}

.aligned-text_left {
  bottom: 158px;
  left: 50px;
}

.aligned-text_center {
  bottom: 23px;
  left: 64px;
}

.aligned-text_right {
  right: 23px;
  top: 111px;
}

.cover__description {
  display: flex;
  position: relative;
  left: 50px;
  text-transform: uppercase;
  z-index: 3;
  color: #fff;
  bottom: 93px;
}

.cover__description-text {
  word-spacing: 18.3px;
  line-height: 28px;
  font-size: 22px;
  font-weight: 500;
}

.bet-button {
  position: relative;
  left: 106px;
  bottom: 11px;
  letter-spacing: 3%;
  background: none;
  border: 1px solid #fff;
  font-size: 22px;
  text-transform: uppercase;
  box-shadow: none;
  padding: 10px 26px;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin-top: 154px;
  margin-bottom: 78px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 27px 30px 30px 64px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.card {
  box-sizing: border-box;
  position: relative;
  left: 23px;
  padding: 40px;
  width: 334px;
  height: 596px;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  position: relative;
  top: 8px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.card-link {
  position: relative;
  height: 100%;
  z-index: 3;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  height: 100%;
  align-content: flex-end;
  padding-bottom: 13px;
}

.card_type_film {
  background-image: url("/images/photo-card-1.png");
}

.card_type_book {
  background-image: url("/images/photo-card-2.png");
}

.card_type_picture {
  background-image: url("/images/photo-card-3.jpg");
}

.lots__look-more-link {
  position: relative;
  left: 23px;
  display: inline-block;
  margin: 32px 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #000;
}

.text_decoration_none {
  text-decoration: none;
}

.about {
  box-sizing: border-box;
   height: 595px;
}

.about__column {
  box-sizing: border-box;
  display: grid;
  position: relative;
  z-index: 0;
  grid-template-columns: 334px 1fr;
  align-items: center;
  
}

.about__logo-image {
  position: relative;;
  left: 70px;
  bottom: 134px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 76px;
}

.paragraf {
  display: flex;
  flex-direction: column;
  width: 690px;
  height: 449px;
  padding-top: 141px;
  padding-left: 47px;
  gap: 24px;
  
}

.about__text {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  justify-items: end;
  padding: 187px 0 82px 50px;
}

.footer .address {
  width: 265px;
  justify-self: flex-start;
}

.footer__menu {
  display: flex;
  width: 165px;
  font-size: 18px;
  font-weight: 400;
  flex-direction: column;
  justify-self: center;
  padding-right: 50px;
}

.footer__menu-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__menu-list-item {
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__sotial-list{
  display: flex;
  justify-self: end;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  padding-right: 50px;
}